
/*

Helper styles to make menu buttons look like router links

*/

:host(.menu-button) .vaadin-button-container {
	justify-content: flex-start;
}

:host(.menu-button) {
	cursor: pointer;
}

[part] ::slotted(vaadin-icon[icon^="vaadin:"]) {
    padding: 0;
}
